<div class="card mt-5">
    <p-table #dt1 [value]="orders" dataKey="id" [loading]="loading" [lazy]="true" [paginator]="true"
        [rows]="tamanhoPagina" [totalRecords]="totalRegistros" (onLazyLoad)="aoPaginar($event)" [showGridlines]="true"
        [rowHover]="true" responsiveLayout="scroll">
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton type="button" icon="pi pi-plus" iconPosition="left" class="ml-auto" label="Create Order"
                    (click)="abrirCriarPedido()"></button>
            </div>
        </ng-template>

        <ng-template #header>
            <tr>
                <th style="min-width: 1rem">
                    <div class="flex justify-between items-center">
                        Number
                    </div>
                </th>
                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">
                        Customer Name
                    </div>
                </th>
                <th style="min-width: 14rem">
                    <div class="flex justify-between items-center">
                        Date
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Total Amount
                    </div>
                </th>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">
                        Status
                    </div>
                </th>
                <th style="min-width: 1rem">
                    Actions
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-order>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customerName }}</td>
                <td>{{ order.orderDate }}</td>
                <td>{{ order.totalAmount }}</td>
                <td>{{ order.status }}</td>
                <td class="flex gap-2">
                    <button pButton icon="pi pi-search" class="p-button-sm p-button-text" title="detail"
                        (click)="verDetalhes(order.id)"></button>
                    <button pButton icon="pi pi-pencil" class="p-button-sm p-button-text" (click)="editarPedido(order)"
                        title="edit"></button>
                    <button pButton icon="pi pi-trash" class="p-button-sm p-button-text p-button-danger"
                        (click)="excluirPedido(order)" title="delete"></button>
                </td>

            </tr>
        </ng-template>
    </p-table>

    <p-dialog header="New Order" [(visible)]="criandoPedido" modal [style]="{ width: '600px' }"
        (onHide)="resetarFormulario()">

        <div class="p-fluid">
            <div class="field">
                <label for="cliente">Customer </label>
                <p-dropdown [options]="clientes" optionLabel="name" optionValue="id" [(ngModel)]="novoPedido.customerId"
                    placeholder="Select a customer">
                </p-dropdown>
            </div>

            <div class="field">
                <label>Products</label>
                <div *ngFor="let item of novoPedido.items; let i = index" class="p-grid p-nogutter mb-2">
                    <div class="p-col-6 pr-2">
                        <p-dropdown [options]="produtosDisponiveis(i)" optionLabel="name" optionValue="id"
                            [(ngModel)]="novoPedido.items[i].productId" placeholder="Select a product">
                        </p-dropdown>

                    </div>
                    <div class="p-col-4 pr-2">
                        <p-inputNumber [(ngModel)]="item.quantity" [min]="1" [showButtons]="true" [step]="1"
                            [useGrouping]="false" inputStyleClass="w-full"
                            (ngModelChange)="corrigirQuantidadeInvalida(i)">
                        </p-inputNumber>
                    </div>
                    <div class="p-col-2">
                        <button pButton icon="pi pi-trash" class="p-button-danger p-button-sm"
                            (click)="removerItem(i)"></button>
                    </div>
                </div>


                <button pButton icon="pi pi-plus" class="p-button-sm" label="Adicionar Item" (click)="adicionarItem()">
                </button>
            </div>

            <div *ngIf="mensagensErro.length" style="color: red" class="mb-3 mt-5">
                <ul class="pl-3">
                    <li *ngFor="let erro of mensagensErro">{{ erro }}</li>
                </ul>
            </div>

            <div class="flex justify-content-end gap-2 mt-3" style="width: 100%;">
                <button pButton label="Cancelar" class="p-button-secondary" (click)="criandoPedido = false"></button>
                <button pButton label="Salvar" class="p-button-success" (click)="salvarPedido()"></button>
            </div>

        </div>
    </p-dialog>



    <p-dialog header="Order Detail" [(visible)]="detalheVisivel" modal [style]="{ width: '500px' }"
        (onHide)="pedidoSelecionado = null">
        <ng-container *ngIf="pedidoSelecionado">
            <p><strong>Number:</strong> {{ pedidoSelecionado.id }}</p>
            <p><strong>Customer:</strong> {{ pedidoSelecionado.customerName }}</p>
            <p><strong>Date:</strong> {{ pedidoSelecionado.orderDate }}</p>
            <p><strong>Total Amount:</strong> {{ pedidoSelecionado.totalAmount }}</p>
            <p><strong>Status:</strong> {{ pedidoSelecionado.status }}</p>

            <p><strong>Itens</strong></p>
            <table class="w-full border-collapse">
                <thead>
                    <tr>
                        <th class="text-left border-b pb-2">Name</th>
                        <th class="text-left border-b pb-2">Quantity</th>
                        <th class="text-left border-b pb-2">Unit Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of pedidoSelecionado.items">
                        <td class="py-1">{{ item.productName }}</td>
                        <td class="py-1">{{ item.quantity }}</td>
                        <td class="py-1">{{ item.unitPrice }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </p-dialog>
</div>
<p-toast></p-toast>